<div id="variant<%= count %>">
  <div class="flex flex-row justify-between items-center">
    <input required name="<%= variant.id %>[name]" class="font-bold mb-2 text-md text-black dark:text-white dark:bg-transparent mt-4 outline-none" style="border: none" value="<%= variant.name.present? ? variant.name : 'Variant' %>">
    <img src="<%= asset_path('cross_circle.svg') %>" class="w-5 h-5 cursor-pointer hover:opacity-75" onclick="delete_variant('<%= count %>', '<%= variant.id %>')">
  </div>
  <span class="block border border-gray-200 w-full"></span>
  <div class="mt-10">
    <div class="flex flex-col sm:flex-row gap-2 mb-6">
      <div class="w-full">
        <label class="block mb-2 text-sm font-normal text-[#000000] dark:text-white">Color (Optional)</label>
        <input value="<%= variant.color %>" data-coloris name="<%= variant.id %>[color]" id="color<%= count %>" class="border border-[#e8e8e8] rounded-[5px] !outline-none text-[#000000] text-sm placeholder-black  block w-full px-5 py-[10px] dark:text-white dark:bg-gray-700 dark:placeholder-gray-400 dark:border-none" placeholder="Enter" />
      </div>
      <div class="w-full">
        <label class="block mb-2 text-sm font-normal text-[#000000]">Size (Optional)</label>
        <select id="<%= count %>" multiple name="<%= variant.id %>[size][]" class="block chosen-select<%= count %> border border-[#e8e8e8] rounded-[5px] !outline-none text-[#000000] text-sm placeholder-black w-full px-5 py-[10px]">
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
          <option>XXL</option>
        </select>
      </div>
    </div>
    <p id="product_variant_id_<%= count %>" class="hidden"><%= variant.id %></p>
    <div id="quantity<%= count %>" class="variant_quantity grid grid-cols-2 gap-2 mb-6">
      <% variant.sizes&.each_with_index do |size, index| %>
        <div class="mb-6">
          <div class="w-full sm:max-w-[327px]">
            <label class="block mb-2 text-sm font-normal text-[#000000] dark:bg-white">Quantity (<%= size.name %>)</label>
            <input id="<%= size.name %>" type="number" value="<%= size.in_stock %>" name="<%= variant.id %>[in_stock][]" class="border border-[#e8e8e8] rounded-[5px] !outline-none text-[#000000] text-sm placeholder-black block w-full px-5 py-[10px] dark:text-white dark:bg-gray-700 dark:placeholder-gray-400 dark:border-none">
          </div>
        </div>
      <% end %>
    </div>
    <div class="my-6">
      <p class=" text-sm font-normal mb-2 text-[#000000] dark:bg-white">Upload Image <span class="text-[red]">*</span></p>
      <div class="flex flex-row justify-start w-full">
        <div id="selectedImages<%= count %>" class="mt-3 mb-2 max-h-[150px] overflow-x-auto flex space-x-2"></div>
        <% if variant.images.present? %>
          <div id="showedImages<%= count %>" class="mt-3 mb-2 max-h-[150px] overflow-x-auto flex space-x-2">
            <%= f.hidden_field "#{variant.id}[image_ids]".to_sym, value: variant.images.pluck(:id).to_json, id: "variant_edit_images_#{count}" %>
            <% variant.images.each do |image| %>
              <div id="selected_div_<%= count %>_<%= image.image.blob.filename %>" class="relative">
                <img src="<%= asset_path('cross_circle.svg') %>" class="absolute w-4 h-4 right-[4%] top-[4%] cursor-pointer hover:opacity-75" id="image_<%= count %>_<%= image.image.blob.filename %>" onclick="removeImageWithId('<%= count %>', '<%= image.image.blob.filename  %>', '<%= image.id %>')">
                <img alt="<%= image.image.blob.filename %>" src="<%= image.image.blob.url %>" class="object-cover w-[150px] h-[150px] rounded-2xl" id="variant_images_<%= count %>">
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <input id="previously_selected_<%= count %>" type="file" class="hidden" multiple accept="image/jpeg, image/png, image/jpg" />
      <div class="flex items-center justify-center  w-full mb-[9px]">
        <label for="dropzone-file-<%= count %>" class="flex flex-col items-center justify-center bg-[#FF87171A] w-full h-[130px] border-2 rounded-lg border-dashed border-[#000000] cursor-pointer dark:border-[#FF8717]">
          <div class="flex items-center gap-3 justify-center pt-5 pb-6">
            <svg class="size-6 cursor-pointer stroke-[#1F2A37] dark:stroke-white fill-[#E74A39] dark:fill-white" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 12.1836H5H12Z"/>
              <path d="M12 5.18359V12.1836M12 12.1836V19.1836M12 12.1836H19M12 12.1836H5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </label>
      </div>
      <div id="file_input_<%= count %>"></div>
      <%= f.file_field "#{variant.id}[variant_images]".to_sym, id: "dropzone-file-#{count}", class: 'hidden', multiple: true, accept: "image/jpeg, image/png, image/jpg", onchange: "show_selected_images('#{count}', event)" %>
    </div>
  </div>
</div>

<script>
    $(`.chosen-select<%= count %>`).chosen({
        disable_search_threshold: 10,
        placeholder_text_multiple: 'Select',
        no_results_text: 'No Size found',
        width: '100%'
    }).change(function () {
        const selectedValues = $(this).val();
        const quantity_count = this.id
        var main_div = $(`#quantity${quantity_count}`)
        if (selectedValues.length === 0) {
            main_div.empty()
        }
        var editing_variant_id = document.getElementById('product_variant_id_<%= count %>').innerText
        const inputIds = Array.from(main_div[0].childNodes).filter(child => child.nodeType === 1).map(child => child.querySelector('input')?.id).filter(Boolean);
        selectedValues.forEach(function (value) {
            if (main_div[0].childNodes.length > 0) {
                removeQuantityElement(inputIds, selectedValues, main_div)
                if (!inputIds.includes(value)) {
                    create_quantity_field(value, `quantity${quantity_count}`, editing_variant_id);
                }
            } else {
                create_quantity_field(value, `quantity${quantity_count}`, editing_variant_id);
            }
        })
    });
    updateChosenSelect('<%= count %>');

    function updateChosenSelect(count) {
        const chosenSelect = $(`.chosen-select${count}`);
        chosenSelect.val(<%= raw variant.sizes.pluck(:name) %>);
        chosenSelect.trigger('chosen:updated');
    }
</script>
